name: Python Tests
run-name: Rest API Python Tests

on:
  schedule:
    - cron: "*/2 * * * *"
  workflow_dispatch:
    inputs:
      python_version:
        description: 'Python version'
        required: true
        default: '3.13.2'
  push:
  
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Set up Python 3.13.2
        uses: actions/setup-python@v3
        with:
          python-version: '${{ github.event.inputs.python_version }}'
 
      - name: Run Tests
        run: |
             chmod +x -R ${{ github.workspace }}
             pip install --upgrade pip
             pip install -r requirements.txt
             export PYTHONPATH=${PYTHONPATH}:${{ github.workspace }}
             pytest -s tests/part_01/test_users.py --junitxml=results.xml --html=report.html

      - name: Create Test Summary
        uses: test-summary/action@dist
        if: success() || failure()
        with:
          paths: results.xml

      - name: Upload pytest Test Results
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-results
          path: |
                results.xml
                report.html
                assets

      - name: Notify Slack - Build Status
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status == 'success' && 'good' || 'danger' }}
          SLACK_MESSAGE: |
            ${{ job.status == 'success' && '✅ Python Tests completed successfully' || '❌ Python Tests failed' }} 
            on branch *${{ github.ref_name }}* by *${{ github.actor }}*.
            Details: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View on GitHub>
          SLACK_TITLE: "Build Status: ${{ job.status }}"